.flex-container{
    background-color: rgb(58, 112, 248); 
    border: 6px solid rgb(0, 0, 106); 
    display: flex;
    height: 400px;
    width: 600px;
    align-items: center;
}

.flex-item{
    background-color: rgb(235, 90, 90);
    color:black; 
    text-align: center;
    border: 5px solid rgb(83, 0, 0); 
    flex: 1;
    height: 70px;
    margin: 240px;
}

p{
    margin:0; 
    padding:0;
}

.flex-header{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    padding: 10px;
    color: blue; 
    align-items: center;
}

.flex-item-header{
    background-color: white;
    width: 10px;
    margin: 0px 10px 0px;
    flex: 2;
    text-align: center;
}

.flex-item-header.logo{
    margin: 0px 50px 0px ;
    text-align: center;
    flex:7; 
    font-size: 30px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}